@font-face {
    font-family:'Moon';
    src: url('../fonts/Moon Bold.eot');
	src: url('../fonts/Moon Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Moon Bold.woff2') format('woff2'),
		url('../fonts/Moon Bold.woff') format('woff'),
		url('../fonts/Moon Bold.ttf') format('truetype'),
		url('../fonts/Moon Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Moon';
    src: url('../fonts/Moon Light.eot');
	src: url('../fonts/Moon Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Moon Light.woff2') format('woff2'),
		url('../fonts/Moon Light.woff') format('woff'),
		url('../fonts/Moon Light.ttf') format('truetype'),
		url('../fonts/Moon Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Simplifica';
    src: url('../fonts/simplifica.ttf');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
