.astro-list {
    margin-top: 20px;
    margin-left: 30px;
    
    h1 {
        margin-left: 32px;
        font-family: $primary-font;
        font-size: 24px;
        color: #e8e8e8;
        font-weight: bold;
    }
    
    h1:after
    {
        content: '';
        display: block;
        position: absolute;
        top: 46px;
        left: 24px;
        width: 200px;
        height: 3px;
        border-radius: 10px;
        background: #d6a53a;
    }
}

.astro {
    position: relative;
    &:nth-of-type(1) {
        margin-top: 20px;
    }
    // &:hover {
    //     transform: scale(1);
    //
    //     &+.astro-caption{
    //         transform: translate(160px, -50%);
    //     }
    // }
}

.astro-picture {
    display: inline-block;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-size: cover;
    transform: scale(0.85);
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1);

        &+.astro-caption div{
            transform: translate(77px);
        }
    }
}

.astro-caption {
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    width: 250px;
    left: 10px;
    padding: 4px;
    overflow: hidden;
    transform: translate(0px, -50%);

    div {
        transform: translate(-100px);
        transition: transform 0.3s ease-in-out;
        white-space: nowrap;
        color: white;
    }
}
