body {
    background: #0d0d0d;
}

#home {
    position: absolute;
    // display: none;
    top: 15px;
    width: 100%;
    height: 100%;
    padding-left: 15px;
}

#webgl {
    position: absolute;
    z-index: -1;
}
