.timeline {
    .ligne {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 600px;
        width: 600px;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        background-color: none;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
        border: solid 1px whitesmoke;

        .dot {
            background-color: white;
            position: absolute;
            height: 20px;
            width: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-309%, -50%);
            border-radius: 100%;
            // transform-origin: 20% 40%;
            // transform: rotate3d(90deg);
        }
        .dot.selected {
            position: relative;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 500px;
        }
    }
}
