.timeline {
    width: $custom-size;
    height: 60vh;
    position: absolute;
    left: 35.5%;
    bottom: 0;
    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    .overflow {
        height: 5000px;
    }

    .mask {
        overflow-y: hidden;
    }

    .wheel {
        width: $custom-size;
        height: $custom-size;
        position: fixed;
        border-radius: 100%;
        z-index: -1;
        bottom: 19%;
        transition: transform 1s ease-in-out;
    }

    .ligne {
        position: fixed;
        width: $custom-size;
        height: $custom-size;
        border-radius: 100%;
        bottom: 19%;
        z-index: -1;
        background-color: none;
        box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
        border: solid 1px whitesmoke;
    }
    // .ligne {
    //     position: fixed;
    //     bottom: 19%
    //     width: $custom-size;
    //     height: 30vh;
    //     box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5);
    //     border-radius: 50% / 100% 100% 0 0;
    //     transform: rotate(180deg);
    //     border: solid 1px whitesmoke;
    //     border-bottom: none;
    //     background-color: none;
    // }
    .dot {
        background-color: #ffffff;
        border-radius: 500px;
        height: $dot-size;
        width: $dot-size;
        position: absolute;
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
        // cursor: pointer;

        &s-origin {
            height: $dot-size;
            width: $dot-size;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            will-change: transform;
        }
    }

    .date-container {
        width: 200px;
        white-space: nowrap;
    }

    .stroke {
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
        background-color: #ffffff;
        height: 2px;
        width: 18px;
        border-radius: 50%;
    }

    .date {
        text-align: center;
        /* top: 0; */
        /* margin-left: 5px; */
        /* transform: translateX(-50%); */
        white-space: nowrap;
        will-change: transform;
    }

    .dot.selected {
        position: relative;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 500px;
        will-change: transform;
    }
}
