.tweets-container {
    position: absolute;
    right: 24px;
    top: 20px;
    width: 30vw;
    height: 50vh;
    font-size: 14px;
}

.feed-container
{
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    right: 24px;
    top: 90px;
    width: 30vw;
    height: 50vh;
    font-size: 14px;
}

.tweets-container h1 {
    font-family: $primary-font;
    float: right;
    font-size: 24px;
    color: #e8e8e8;
    font-weight: bold;
}

.tweets-container h1:after {
    content: '';
    display: block;
    position: absolute;
    top: 26px;
    left: 50px;
    right: 12px;
    height: 3px;
    border-radius: 10px;
    background: #d6a53a;
}

.tweets-display {
    position: absolute;
    top: 0px;
    left: 50px;
    font-size: 14px;
    line-height: 15px;

    &.active {
        .tweet {
            transform: translateX(-30vw);
        }

        .name {
            opacity: 1;
        }

        .user-link {
            opacity: 1;
        }
    }

    .name {
        font-family: $primary-font;
        font-weight: normal;
        font-size: 16px;
        color: #e8e8e8;
        opacity: 0;
        cursor: default;
        position: fixed;
        transition: opacity 0.3s ease-in-out;
        margin-top: -40px;
    }

    .user-link {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        text-decoration: none;
        position: fixed;
        color: #888888;
        margin-top: -25px;
    }

    .tweet {
        position: relative;
        margin-top: 10px;
        right: -30vw;
        transition: transform 0.3s ease-in-out;
        margin-bottom: 17px;
    }

    .tweet:after {
        content: '';
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        height: 1px;
        border-radius: 2px;
        background: rgba(214, 165, 58, 0.27);
    }

    $test: 0s;
    .tweets-display.active {
        @for $i from 1 through 20 {
            .tweet:nth-of-type(#{$i}) {
                transition-delay: $test;
                $test: $test+0.1;
            }
        }
    }


    .date {
        font-size: 14px;
        color: #d6a53a;
        line-height: 18px;
    }

    .text {
        color: #d5d5d5;
        font-size: 16px;
        line-height: 17px;

        a {
            font-weight: bold;
        }
    }

    &::after {
        // content: '';
        position: fixed;
        top: 53vh;
        right: 50px;
        width: 27vw;
        height: 16vh;
        margin: 0;
        background-image: linear-gradient(to bottom, transparent, rgba(13, 13, 13, 0.37));
    }
}



.tweet.selected {
    // transform: translateX(-30vw);
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 0.2s ease-in-out;
}
